@import 'variable';
 
/* global */
*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

body{
    background-image: url(../images/bg-mobile.svg);
    background-color: $color-violet;
    background-repeat: no-repeat;
    background-size: 100%;
}
/* content */
.logo{
    margin: 25px 25px;
    img {
        width: 30%;
    }
}
.content{
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    .picture {
        img{
            width: 80%;
        }
    }
    .description {
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
        font-family: $body-font;
        color: white;
        width: 80%;
        h3{
            font-family: $header-font;
            font-weight: 600;
            font-size: 28px;
            line-height: 1.4;
        }
        p{
            font-size: 15px;
            opacity: 0.95;
            font-weight: 400;
            line-height: 1.6;
        }
        .btn {
            text-decoration: none;
            padding: 15px 80px;
            border-radius: 45px;
            border: none;
            box-shadow: 0 1px 5px black;
            background-color: white;
            color: $color-violet;
            outline: none;
            cursor: pointer;
        }
        .btn:hover{
            background-color: $color-softMagenta;
            color: white;
        }
        .spacing {
            margin-bottom: 30px;
        }
    }
}
/* contact */
.contact {
    margin-top: 30px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    width: 40%;
    margin-bottom: 50px;
    .contact-list{
        display:flex;
        justify-content: center;
        list-style-type: none;
        li {
            i{
                color:white;
                margin: 5px;
                display: inline-block;
                border-radius: 60px;
                border: 1px solid white;
                padding: 10px 10px;
            }
            i:hover {
                color: $color-softMagenta;
                border: 1px solid $color-softMagenta;
            }
        }
    }
}

/* media queries */
@media screen and (min-width: 1150px)
 {
    body{
        background-image: url(../images/bg-desktop.svg);
    }
    .logo {
        padding-left: 10%;
        padding-right: 10%;
        img {
            width: 20%;
        }
    }
    .content{
        display: flex;
        margin-left: 10%;
        margin-right: 10%;
        .picture {
            img{
                width: auto;
            }
        }
        .description {
            margin-top: 5%;
            margin-left: 5%;
            margin-right: 5%;
            text-align: left;
            .spacing {
                margin-left: 50px;
                margin-right: 50px;
            }
            h3 {
                font-size: 36px;
            }
        }
    }
    .contact {
        margin-top: 5%;
        margin-right: 0;
        margin-bottom: 5%;
        .contact-list{
            li {
                i{
                    margin: 10px;
                    border: 2px solid white;
                    padding: 25px 25px;
                }
        
            }   
        }
    }
}